
html {
font-family: sans-Serif;
background-color: #f5f5f5;
height:100%;
}


body{
margin: 0;
padding: 0;
}
body {font-size:100%}
/* Headers */
h1 {display:inline;vertical-align:83%;margin-left:20px;}

b{text-shadow: 1px 1px 0px rgba(139, 148, 146, 0.6); }
.title_logo{
position:relative;
 margin: 1%; background: white;
 font-size:0.8em; border-radius:0.2em; border-bottom: 2px solid gray; padding:4px;
}
.img_logo{
position:absolute;
vertical-align:middle;
}
a{
text-decoration: none;
color: white;
line-height: 30px;
display: block;
font-family: 'Arial', Verdana, arial;
}
.but_haut{
display: inline;
position:absolute;
margin-top:1.6%;
margin-left:17%;
}

.button2 {/* reset*/
	margin-left:18px;
	width: 180px;
	display:inline;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline;
	cursor:pointer;
	border:1px solid #ff0000;
	color:#ff0000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;
}
.button2:hover {
	background-color:#ff9c9c;
	color:#ffffff;
}
.button2:active {
top:10px;
}

.button3 {/*check my score*/
	margin-left:18px;
	display:inline;
	width: 180px;
	text-align:center;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #07b020;
	cursor:pointer;
	color:#07b020;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration:none;
}
.button3:hover {
	background-color:#5ac475;
	color:#ffffff;
}
.button3:active {
	top:1px;
}

.button4 {/*start over*/
	margin-left:18px;
	width: 180px;
	display:inline;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline;
	cursor:pointer;
	border:1px solid #ff0000;
	color:#ff0000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;
}
.button4:hover {
	background-color:#ff9c9c;
	color:#ffffff;
}
.button4:active {
	top:1px;
}


.bord_arrondi  {
border-bottom-left-radius: 1em;
border-top-right-radius: 1em;
color: white;
padding-bottom: 2px;
padding-top: 2px;
height:50px;
text-shadow: 1px 1px 0px rgba(139, 148, 146, 0.5);
border-bottom: 2px solid gray;
}


.listbox {
	width:165%;
	font-size: 13px;
   background:  #5b9bd5;
   color: white;
   padding: 2px;
   margin:2px;
	padding-left:4px;
	padding-right:0px;
	padding-top:3px;
   line-height: 2 solid #ccc;
   border: 1px solid black;
   border-radius: 20px;
   height: 24px;
   -webkit-appearance: none;
   }
   
.main_table{
border:1;
background:transparent;
	border-color:transparent;
	/*border: 1px solid rgba(0,0,0,0);a effacer*/
    /*     background-clip: border;  
      background-clip: border-box;  
	  background-clip: padding;  */
	  /*border:0 !important;*/
	  	position:relative;

}   


.cell_mod_arr {
border:2px solid #c00000;
border-right-style:dashed;
border-bottom-left-radius: 1.5em;
border-top-left-radius: 1.5em;
border-bottom-right-radius: 1.5em;
border-top-right-radius: 1.5em;
}

.cell_eu_arr {
border:4px solid #f16726;
border-bottom-right-radius: 1.5em;
border-bottom-left-radius: 1.5em;
border-top-left-radius: 1.5em;
border-top-right-radius: 1.5em;
}
.cell_ru_arr {
border:4px solid #12a9b3;
border-bottom-right-radius: 1.5em;
border-bottom-left-radius: 1.5em;
border-top-left-radius: 1.5em;
border-top-right-radius: 1.5em;
}



/* NOUVEAU CSS */
.unit{ /* div de unit total */
position: relative;
top:0px;
margin: 0px;
left: 29%;
height: 390px;
width: 46%;
background-color:white;
border-width: 2px;
border-style: solid;
border-color: #C00000;
border-radius: 1.5em;
-moz-box-shadow: 2px 2px 4px 0px #acacac;
-webkit-box-shadow: 2px 2px 4px 0px #acacac;
box-shadow: 2px 2px 4px 0px #acacac;
}

.unit_slave{ /* div de unit total */
position: relative;
top:0px;
margin: 0px;
left:37%;
height: 230px;
width: 38%;
background-color:white;
border-width: 2px;
border-style: solid;
border-color: #C00000;
border-radius: 1.5em;
margin-top:1px;
-moz-box-shadow: 2px 2px 4px 0px #acacac;
-webkit-box-shadow: 2px 2px 4px 0px #acacac;
box-shadow: 2px 2px 4px 0px #acacac;
}

.header_unit_left {/* Master / slave / EU / RU etc */
  position: absolute;
  text-align:center;
  text-indent:2em;
  top:0px;
  width: 80.4%;
  height:6%;
  margin: 0px;
  border-top-left-radius: 1.3em;
color: white;
padding-bottom: 5px;
padding-top: 2px;
background:#575757;
  margin-top: 2px;
  margin-left: 2px;
}

.header_unit_right {/* bouton activ/deactiv */
  position: absolute;
  top:0px;
  left: 79%;
  height:6%;
  width: 20.4%;
  margin-top: 2px;
  margin-right: 4px;
border-top-right-radius: 1.3em;
color: white;
padding-bottom: 5px;
padding-top: 2px;
background:#575757;
}

.body_unit {/* body de luniv avec list module et picture */
  position: relative;
  top: 9%;
  width: 100%;
  height:91%;
  background-color:transparent;
    -webkit-animation: fadein 1.3s, hue 0.7s linear; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.3s, hue 0.7s linear; /* Firefox < 16 */
        -ms-animation: fadein 1.3s, hue 0.7s linear; /* Internet Explorer */
         -o-animation: fadein 1.3s, hue 0.7s linear; /* Opera < 12.1 */
            animation: fadein 1.3s, hue 0.7s linear;
			-webkit-transition-property: all;
}
@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(40deg); }
}


.body_unit_inactive {/* INACTIVE !!!!    body de luniv avec list module et picture */
	position: relative;
	top: 9%;
	width: 100%;
	height:91%;
	margin: 0px;
	
	border-bottom-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	opacity:0.3;
	background: #313131;
	z-index:0;
  	pointer-events: none;
    -webkit-animation: fadeout 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 0.4s; /* Firefox < 16 */
    -ms-animation: fadeout 0.4s; /* Internet Explorer */
    -o-animation: fadeout 0.4s; /* Opera < 12.1 */
    animation: fadeout 0.4s;
	
}

.body_unit_modules {/* body de luniv avec list module et picture */
  position: absolute;
  top:0.5%;
  width: 100%;
}
.list_img_module{
  position: absolute;
  top:2.5%;
display:bloc;
 left:65%;
 width:40.5%;
}
.list_img_module_slave{
  position: absolute;
  top:5%;
  margin-top:3px;
display:bloc;
 left:65%;
 width:42.1%;
}
.image_module {/* image dentete des liste de modules */
  top:0%;
display:bloc;
  margin-left:20%;
  width: 100%;
  margin-top: 0px;
  background-color:transparent;
    padding-left:0px;
  padding-top:0px;
  z-index:1;
}
.image_module :active {
  transform: scale(9);
    transition: transform 2s ease-out;
	background:rgba(255,255,255,0.6);
	border-radius:0.5em;
	   transition: transform 2s ease-in;
	position:relative;
	transform-origin: 10% 55%;
}

.list_module {/* liste box des frequences des modules */
  width:100%;
  top:0%;
  margin: 2px;
  background-color:transparent;
  padding-left:5%;

}

.list_module_left {/* liste box des frequences des modules */
  position: static;
  width: 35%;
  margin: 0px;
  background-color:transparent;
  padding-left:5%;
}

.list_module_right {/* liste box des frequences des modules */
  position: static;
  width: 35%;
  margin: 0px;
  background-color:transparent;
  padding-left:5%;
  padding-right: 0%;
}

.body_unit_photo {/* photo de la unit */
  position: absolute;
  top:37%;
  left:2.8%;
  width: 93%;
  /*height:150px;*/
  margin: 0px;
  background-color:transparent;
  padding:0px 0px;
} 
  
.body_unit_photo :active {
	z-index:150;
    transform: scale(4);
    transition: transform 2s ease-out;
	background:rgba(255,255,255,0.5);
	border-radius:0.5em;
	transition: transform 2s ease-in;
	position:relative;
	transform-origin: 20% 55%;
  }
.body_unit_photo_slave {/* photo de la unit */
  position: absolute;
  top:59%;
  left:2.8%;
  width: 93%;
  /*height:150px;*/
  background-color:transparent;
} 
.body_unit_photo_slave :active {
  transform: scale(7);
    transition: transform 2s ease-out;
	background:rgba(255,255,255,0.5);
	border-radius:0.5em;
	transition: transform 2s ease-in;
	transform-origin: 20% 55%;
 	z-index:150;
	position:relative;
  }
   
.div_button_add{
top:65%;
width:100%;
position:absolute;
display: bloc;
border-bottom-right-radius:1.5em;
border-bottom-left-radius:1.5em;
}
.button_add {
display: bloc;
border-top:1px solid black;
padding-left:10.1%;
vertical-align: 10%;
	background-color:transparent;
	cursor:pointer;
	color:#000000;
	font-size:12px;
	text-shadow:0px 1px 0px #d9d6d7;
	
}
.div_button_eu_ipru{
top:63%;
width:100%;
position:absolute;
display: bloc;
border-bottom-right-radius:1.5em;
border-bottom-left-radius:1.5em;

}
.Add_ip{
}
.button_add_ip{
border-top:1px solid black;
padding-left:10px;
	font-size:12px;
position: relative;
	display: inline-bloc;
text-align:center;
padding-top:5%;	
}
.checkboxip input {
    /* First, we make it as wide as the container */
    position: absolute;
    width: 100%;
    height: 50%;
    /* Then, we put it on top of everything else */
    z-index: 100;
    /* Last, we make it invisible */
    opacity: 0;
    /* This one is just for ergonomy */
    cursor: pointer;
		background:blue;
}
.checkboxip {
margin-top:-10%;
    width: 18px;
    height: 18px;
margin-left:17.6%;

}
.checkboxip label {

    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background: #747474;

}
.checkboxip label:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8%; 
    right: -8%; 
    bottom: -7%; 
    left: -7%;
    border-radius: inherit;
    background: #ddd; /* Fallback */
    background: linear-gradient(#ccc, #fff);
}
.checkboxip label:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%; 
    left: 10%;
    top: 10%;
    border-radius: inherit;
    background: #c00000; /* Fallback */
    background: radial-gradient(40% 35%, #ccc, #cf3f3f 60%);
			background:#cecece;
}
.checkboxip input:checked ~ label { /* Button */
	background: #e5e5e5; /* Fallback */
    background: linear-gradient(#dedede, #fdfdfd);
}
.checkboxip input:checked ~ label:before { /* LED */
	content:"";
	font-size:19px;
	font-style:bold;
    background: #25d025; /* Fallback */
    background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
			background:#ff7e00;
}


.div_button_add_ru{
top:80%;
width:100%;
position:absolute;
display: bloc;
border-bottom-right-radius:1.5em;
border-bottom-left-radius:1.5em;
/*border-top:1px solid black;*/
}
.AddSlaveRU{
display: bloc;
border-top:1px solid black;
padding-left:12.1%;
vertical-align: 10%;
	background-color:transparent;
	cursor:pointer;
	color:#000000;
	font-size:12px;
	text-shadow:0px 1px 0px #d9d6d7;
}


.img_add{
margin-left:10%;
width: 10%;
 margin-bottom:-4px; margin-right:5px;
}

 
.eu_recalage{
 text-indent: 2.1em;
} 
 
.eu_unit{ /* div de Expansion Unit */
	position: relative;
	top:-235px;
	margin: 0px;
	left: 0px;
	height: 183px;
	width: 185px;
	background-color:#ffffff;
	border-width: 2px;
	border-style: solid;
	border-color: #f16726;
	border-radius: 1.5em;
	-moz-box-shadow: 2px 2px 4px 0px #acacac;
	-webkit-box-shadow: 2px 2px 4px 0px #acacac;
	box-shadow: 2px 2px 4px 0px #acacac;
}
.header_unit_left_eu {/*   EU  */
  position: absolute;
  text-align:center;
  text-indent:3em;
  top:0px;
  width: 80.4%;
  height:14%;
  margin: 0px;
  border-top-left-radius: 1.3em;
  color: white;
  padding-bottom: 5px;
  padding-top: 2px;
  background:#575757;
  margin-top: 2px;
  margin-left: 2px;
  z-index:1;
}
.header_unit_right_eu {/* bouton activ/deactiv EU*/
  position: absolute;
  top:0px;
  left: 79%;
  height:14%;
  width: 20.4%;
  margin-top: 2px;
  margin-right: 4px;
  border-top-right-radius: 1.3em;
  color: white;
  padding-bottom: 5px;
  padding-top: 2px;
  background:#575757;
  z-index:1;
}

.eu_body_unit_photo {/* photo de l'expansion unit */
  position: absolute;
  top:13.5%;
  left:6.5%;
  width:70%;
  /*height:150px;*/
   border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  margin-top:0px;
  background-color:transparent;
  padding-bottom:6%;
  padding-left: 7%;
  padding-right: 7%;
 }
.eu_body_unit_photo :active {
	z-index:150;
    transform: scale(5);
    transition: transform 2s ease-out;
	border-radius:0.5em;
	transition: transform 2s ease-in;
	transform-origin: 50% 55%;
	background: rgba(255,255,255,0.4);
	position:relative;
  }

.ru_unit{ /* div de REMOTE Unit */
	position: relative;
	top: 0px;
	left: 0px;
	height: 183px;
	width: 185px;
	background-color:white;
	border-width: 2px;
	border-style: solid;
	border-color: #00a2ff;
	border-radius: 1.5em;
	-moz-box-shadow: 2px 2px 4px 0px #acacac;
	-webkit-box-shadow: 2px 2px 4px 0px #acacac;
	box-shadow: 2px 2px 4px 0px #acacac;
}
.ru_unit_slave{ /* div de REMOTE Unit */
	position: relative;
	top: 0px;
	margin: 0px;
	left: 0%;
	height: 158px;
	width: 159px;
	margin-top:1px;
	background-color:white;
	border-width: 2px;
	border-style: solid;
	border-color: #00a2ff;
	border-radius: 1.5em;
	-moz-box-shadow: 2px 2px 4px 0px #acacac;
	-webkit-box-shadow: 2px 2px 4px 0px #acacac;
	box-shadow: 2px 2px 4px 0px #acacac;
}

.header_unit_left_ru {/*   rU  */
 position: absolute;
  text-align:center;
  text-indent:2em;
  top:0px;
  width: 79.4%;
  height:8%;
  margin: 0px;
  border-top-left-radius: 1.3em;
color: white;
padding-bottom: 5px;
padding-top: 2px;
background:#575757;
  margin-top: 2px;
  margin-left: 2px;
  z-index:1;
}
.header_unit_right_ru {/* bouton activ/deactiv rU*/
  position: absolute;
 z-index:1; 
 top:0px;
  left: 79%;
  height:8%;
  width: 20.4%;
  margin-top: 2px;
  margin-right: 4px;
border-top-right-radius: 1.3em;
color: white;
padding-bottom: 5px;
padding-top: 2px;
background:#575757;
}

.ru_body_unit_photo {/* photo de Remote unit */
  position: absolute;
  top:6%;
  left:11.6%;
  width: 75%;
  /*height:150px;*/
  margin: 0px;
  background-color:transparent /*#00a2ff*/;
  font-size: 13px;
  z-index: 115;
  }
.ru_body_unit_photo :active {
  transform: scale(5);
    transition: transform 2s ease-out;
	background:rgba(255,255,255,0.5);
	border-radius:0.5em;
    transition: transform 2s ease-in;
	transform-origin: 80% 55%;
  }
.ru_body_unit_photo_slave {/* photo de Remote unit */
  position: absolute;
  top:6%;
  left:8.5%;
  width: 75%;
  /*height:150px;*/
  margin: 0px;
  background-color: transparent/*#00a2ff*/;
  padding-left:4%;
  padding-right:6%;
  font-size: 13px;
  z-index: 115;
}
.ru_body_unit_photo_slave :active {
    transform: scale(5);
    transition: transform 2s ease-out;
	background:rgba(255,255,255,0.5);
	border-radius:0.5em;
	transition: transform 2s ease-in;
	transform-origin: 80% 55%;
}
  

.hide_EU{ 
display: none; 
}
.show_EU{ 
display: ""; 
} 
.hide_IP{ 
display:none;
} 
.show_IP{ 
display:"";
} 


#test_fade  {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; } to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; } to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; } to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; } to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}
@keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0.1; } to   { opacity: 0.3; }
}
