

html{
background-color: #f5f5f5;
font-family: sans-Serif;
}
h1 {display:inline;vertical-align:83%;margin-left:20px;}
.title_logo{
position:relative;
 margin: 1%; background: white;
 font-size:0.8em; border-radius:0.2em; border-bottom: 2px solid gray; padding:4px;
}
.img_logo{
position:absolute;
vertical-align:middle;
}
a{
text-decoration: none;
color: white;
line-height: 30px;
display: block;
font-family: 'Arial', Verdana, arial; 
}
body{
width:99%;
font-size:100%
}


li{
padding: 13px;
    list-style-type: none;
margin-left:-28%;
}


.but_haut{
display: inline;
position:absolute;
margin-top:1.6%;
margin-left:24.5%;
}



.button2 {/* reset*/
margin-left:18px;
	width: 180px;
display:inline;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline;
	cursor:pointer;
	border:1px solid #ff0000;
	color:#ff0000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;

}
.button2:hover {
	background-color:#ff9c9c;
	color:#ffffff;
}
.button2:active {
top:10px;
}

.button3 {/*check my score*/
margin-left:18px;
display:inline;
width: 180px;
text-align:center;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #07b020;
	cursor:pointer;
	color:#07b020;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-decoration:none;

}
.button3:hover {
	background-color:#5ac475;
	color:#ffffff;
}
.button3:active {
	top:1px;
}

.button4 {/*start over*/
margin-left:18px;
	width: 180px;
display:inline;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline;
	cursor:pointer;
	border:1px solid #ff0000;
	color:#ff0000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;

}
.button4:hover {
	background-color:#ff9c9c;
	color:#ffffff;
}
.button4:active {
	top:1px;
}
.score_card  {
position:relative;
width:30%;
border-left: 2px solid #cccccc;
}

.score_card_body {
margin-top: -20%;
position:relative;
width : 46%; /*d'ou partent les barres*/
}

.bar {
margin-top: -20px;
left:88.2%; /*d'ou partent les barres*/
position:absolute;
/*display:inline;*/
margin-bottom: 5px;
color: #000;
padding: 2px;
padding-right: -28px;
    text-align: right;
background: -webkit-gradient(linear, left top, left bottom, from(#05c300), to(#025b00));
background: -moz-gradient(linear, left top, left bottom, from(#05c300), to(#025b00));
background-color: #05c300;
-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-animation-name:bar;
-webkit-animation-duration:2s;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease-out;

-moz-border-radius: 2px;
-moz-border-radius: 2px;
-moz-animation-name:bar;
-moz-animation-duration:2s;
-moz-animation-iteration-count:1;
-moz-animation-timing-function:ease-out;
}
.txt_bar{
display:bloc;
position: relative;
left:55px;
font-weight:bold;
color:green;
}
#data-one { -webkit-animation-name:bar-one;
}
#data-two { -webkit-animation-name:bar-two;
}
#data-three { -webkit-animation-name:bar-three;
}
#data-four { -webkit-animation-name:bar-four;
}
#data-five { -webkit-animation-name:bar-five;
}
#data-six { -webkit-animation-name:bar-six;
}
#data-seven { -webkit-animation-name:bar-seven;
}


@-webkit-keyframes bar-one {
0% { width:0%; }
100% { width:60%; }
}

@-webkit-keyframes bar-two {
0% { width:0%; }
100% { width:80%; }
}

@-webkit-keyframes bar-three {
0% { width:0%; }
100% { width:64%; }
}

@-webkit-keyframes bar-four {
0% { width:0%; }
100% { width:97%; }
}

@-webkit-keyframes bar-five {
0% { width:0%; }
100% { width:97%; }
}

@-webkit-keyframes bar-six {
0% { width:0%; }
100% { width:97%; }
}

@-webkit-keyframes bar-seven {
0% { width:0%; }
100% { width:97%; }
}

#canvas{
background-color:#ffffff;
}

.container{
position: relative;

 right: 3px;
 width : 100%; 
 height : auto; 
 overflow : auto;
 color: transparent;
}
.bord_arrondi  {
height:35px;
border-bottom-left-radius: 1em;
border-top-right-radius: 1em;
color: white;
padding-bottom: 2px;
padding-top: 2px;
text-shadow: 1px 1px 0px rgba(139, 148, 146, 0.5);
border-bottom: 2px solid gray;
}

.total_score{
margin-left: 3%;
font-size:25px;
font-weight:bold;
border-top: 2px solid black;
padding: 10px;
  text-shadow: 5px 5px 5px #ccc;
}

.score_final{

display:inline-block;
margin-left: 2%;
color:#00b500;
font-size:35px;
font-weight:bold;
  text-shadow: 5px 5px 5px #ccc;
/*border-top: 2px solid black;*/
}
.click_here{
font-size: 18px;
color:red;
text-decoration:none;
}
.click_here:hover{
text-decoration:underline;
}
.view_ranking{
border-bottom: 1px solid grey;
font-weight:normal;
text-align:center;
background:#baf2ba;
color:#2c2c2c;
border-radius: 10px;
padding: 10px;
margin-top: 5px;

margin-left:1%;
margin-right:0%;
font-size: 16px;
}

.taille_graph{
width:100%;
}
