html {
background-color: #f5f5f5;
font-family: sans-Serif;
font-size:140%;
	height:100%;
}

body{
position: relative;
width: 99%;
}
h1 {display:inline;vertical-align:83%;margin-left:28px;}

h2{
color: #c00000;
font-size: 42px;
text-align:center;
  text-shadow: 4px 4px 4px #ccc;
}
.title_logo{
position:relative;
 margin: 1%; background: white;
 font-size:0.8em; border-radius:0.2em; border-bottom: 2px solid gray; padding:5.6px;
}
.img_logo{
position:absolute;
vertical-align:middle;
}


.formulaire_unit{
position: absolute;
color: #333333;
text-align:right;
}

.image_lego{
position:absolute;
left:60%;
width: 32%;
float:right;
}

.but_haut{
display: inline;
position:absolute;
margin-top:1.6%;
margin-left:56%;
}



.button2 {/* reset*/
margin-left:18px;
	width: 180px;
display:inline;
	-moz-box-shadow: 2px 2px 4px 0px #dedede;
	-webkit-box-shadow: 2px 2px 4px 0px #dedede;
	box-shadow: 2px 2px 4px 0px #dedede;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline;
	cursor:pointer;
	border:1px solid #ff0000;
	color:#ff0000;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-decoration:none;

}
.button2:hover {
	background-color:#ff9c9c;
	color:#ffffff;
}
.button2:active {
top:10px;
}

/*new form by peter/*

/** the form elements **/
#cross_form { box-sizing: border-box; }
 
 .position_form {
width: 40%;
position:absolute;
margin-top: 2.5%;
left: 6%;
 }
 
#cross_form .txtinput1 { 
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  border-style: solid;
  border-radius:1em;
  border-width: 2px;
  border-color: #dedede;
  margin-bottom: 20px;
  font-size: 1.55em;
  padding: 15.4px 35px;
  padding-left: 77px;
  width: 90%;
  color: #777;
   
      background: #fff url(pic/images/ico_name.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: 14px 14px;
   
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#cross_form .txtinput2 { 
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  border-style: solid;
  border-radius:1em;
  border-width: 2px;
  border-color: #dedede;
  margin-bottom: 28px;
  font-size: 1.55em;
  padding: 15.4px 35px;
  padding-left: 77px;
  width: 90%;
  color: #777;
   
      background: #fff url(pic/images/ico_web.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: 14px 14px;
   
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#cross_form .txtinput3 { 
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  border-style: solid;
  border-radius:1em;
  border-width: 2px;
  border-color: #dedede;
  margin-bottom: 28px;
  font-size: 1.55em;
  padding: 15.4px 35px;
  padding-left: 77px;
  width: 90%;
  color: #777;
   
      background: #fff url(pic/images/ico_email.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
   
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#cross_form .txtinput4 { 
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  border-style: solid;
  border-radius:1em;
  border-width: 2px;
  border-color: #dedede;
  margin-bottom: 28px;
  font-size: 1.55em;
  padding: 15.4px 35px;
  padding-left: 77px;
  width: 90%;
  color: #777;
   
      background: #fff url(pic/images/ico_phone.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
   
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
 #cross_form .txtinput5 { 
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  border-style: solid;
  border-radius:1em;
  border-width: 2px;
  border-color: #dedede;
  margin-bottom: 20px;
  font-size: 1.55em;
  padding: 11px 25px;
  padding-left: 55px;
  width: 90%;
  color: #777;
   
      background: #fff url(pic/images/system_name.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
   
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.55s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
 
#cross_form  .txtinput:focus { 
  color: #333;

  border-color: rgba(0, 150, 50, 0.4);  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
  outline: 0 none; 
}

#cross_form textarea {
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: #dedede;
  border-radius:1em;
  margin-bottom: 21px;
  font-size: 1.5em;
  padding: 15.4px 35px;
  padding-left: 77px;
  width: 90%;
  height: 252px;
  color: #777;
   
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
   
  transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
  -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}
#cross_form  textarea:focus {
  color: #333;
  border-color: rgba(0, 150, 50, 0.4);

 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
  outline: 0 none; 
}
#cross_form textarea.txtblock {
  border-radius: 1em;
    background: #fff url(pic/images/ico_message.png);
	background-size: 42px 42px;
	background-repeat: no-repeat;
	background-position: 14px 14px;
}


span.radiobadge {
  display: block;
  margin-bottom: 11.2px;
}
 
span.radiobadge label {
  font-size: 1.2em;
  padding-bottom: 5.6px;
}
 
select.selmenu {
  font-size: 23.8px;
  color: #676767;
  padding: 12.6px !important;
  border: 1px solid #aaa;
  width: 280px;
}

#buttons #submitbtn {
  display: block;
  float: right;
  margin-right: 33%;
  height: 2em;
  padding: 0 1em;
  border: 1px solid;
  outline: 0;
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
  text-shadow: 0px 1px 0px #222;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
   
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
   
  border-color: #5e890a #5e890a #000;
   
  -moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
  -ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
  -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
  box-shadow: inset 0 1px 0 rgba(256,256,256, .35);
   
background: rgb(0,150,50); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,150,50,1) 0%, rgba(20,120,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,120,50,1)), color-stop(100%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,150,50,1) 0%,rgba(20,120,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,150,50,1) 0%,rgba(20,120,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,rgba(0,150,50,1) 0%,rgba(20,120,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,150,50,1) 0%,rgba(20,120,50,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2828', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
#buttons #submitbtn:hover, #buttons #submitbtn:active {
  border-color: #84ac9e #84ac9e #000;
  color: #fff;
   
  -moz-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
   
background: rgb(0,150,50); /* Old browsers */
background: -moz-linear-gradient(top, rgba(0,150,50,1) 0%, rgba(20,170,50,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,170,50,1)), color-stop(100%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,150,50,1) 0%,rgba(20,170,50,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,150,50,1) 0%,rgba(20,170,50,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,rgba(0,150,50,1) 0%,rgba(20,170,50,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,150,50,1) 0%,rgba(20,170,50,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

#buttons #resetbtn {
  display: block;
float:left;
  color: #515151;
  text-shadow: -1px 1px 0px #fff;
  margin-left: 10%;
  height: 2em;
  border-radius:1em;
  padding: 0 1em;
  outline: 0;
  font-weight: bold;
  font-size: 1.3em;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
   
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
   
  background-color: #fff;
  background-image: -moz-linear-gradient(top, rgb(255,255,255) 2%, rgb(240,240,240) 2%, rgb(222,222,222) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(240,240,240)), color-stop(100%,rgb(222,222,222)));
  background-image: -webkit-linear-gradient(top, rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
  background-image: -o-linear-gradient(top, rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);  background-image: -ms-linear-gradient(top, rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%);
  background-image: linear-gradient(top, rgb(255,255,255) 2%,rgb(240,240,240) 2%,rgb(222,222,222) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
   
  border: 1px solid #969696;
   
  box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(144, 144, 144, 0.4);
   
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
#buttons #resetbtn:hover {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
  color: #818181;
   
 background-color: #fff;
  background-image: -moz-linear-gradient(top, rgb(255,255,255) 2%, rgb(244,244,244) 2%, rgb(229,229,229) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(255,255,255)), color-stop(2%,rgb(244,244,244)), color-stop(100%,rgb(229,229,229)));
  background-image: -webkit-linear-gradient(top, rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);background-image: -o-linear-gradient(top, rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: -ms-linear-gradient(top, rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%); background-image: linear-gradient(top, rgb(255,255,255) 2%,rgb(244,244,244) 2%,rgb(229,229,229) 100%);   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
   
  border-color: #aeaeae;
   
  box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);
}

.checkbox_position{
width:110%;
position: absolute;
left:-15%;
background: #fff1c6;
color:#b92300;
border-radius:20px;
border-bottom:3px solid #ffc59f;
border-right:3px solid #ffc59f;
padding: 14px 14px 14px 14px;
font-size: 28px;
 display: block;
  text-shadow: 0 1px 1px #ff771d;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 14px;
}



/* for the responsive aspect___A mettre ds un autre css? */
/*@media screen and (max-width: 800px) {
    body {
        padding: 10px 15px;
    }
    #container {
        width: 100%;
    }
    #cross_form  #aligned {
        width: 100%;
        float: none;
        display: block;
    }
    #cross_form  #aside {
        width: 100%;
        display: block;
        float: none;
    }
    #cross_form  .txtinput, #cross_form  textarea {
        width: 85%;
    }
    #prioritycase {
        float: left;
        display: block;
    }
    #recipientcase {
        float: left;
        display: block;
        margin-right: 55px;
    }
}*/