html {
font-family: Helvetica, arial, sans-serif;
height:100%
}

body{
margin: 56px;
padding: 0;
}
body {font-size:140%}
h1 {padding-top:35px;
 font-size:2.2em;
 color:#c00000;
}
h2 {
 font-size:1.6em;
 color:#000000;
 font-style: italic;
}

a{
text-decoration: none;
color: white;
line-height: 42px;
/*display: block;*/
font-family: Helvetica, arial, sans-serif;
}


#button_yes {
position: absolute;
left:73%;
top: -2.4%;
  cursor: pointer;
  background: url(./pic/images/yes_small.png)no-repeat center;width:14%;height:29%; 
  background-color:transparent;
  border-radius: 7em;
}

#button_yes:hover {
  background: url(./pic/images/yes_small_hover.png)no-repeat center;width:14%;height:29%; 
   background-color:transparent;
}


}
#yes:hover{
  filter: blur(20px) grayscale(100%);
}

.img_logo{
position:relative;
top:140px;
}
  .lego{
  position:relative;
  margin-top: -34.5%;
  }
  .pic_launch{
  position:relative;
  margin-top: 147px;
    margin-left: 105px;
  width:18%;
  }
  #test_fade  {


    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}